<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ex.aaronfae.graduation.business.commute.mapper.CommuteExceptionMapper">

	<select id="listCommuteExceptionsForEmployee"
		resultType="ex.aaronfae.graduation.business.commute.model.vo.CommuteExceptionVO">
		SELECT ce.id, ce.employee_id AS employeeId, ce.commute_id
		AS commuteId, e.NAME AS employeeName, ce.today,
		ce.to_work_time AS
		toWorkTime,
		ce.is_to_work AS toWork, ce.off_work_time
		AS offWorkTime,
		ce.is_off_work
		AS offWork,
		ce.deducted_working_hours AS
		deductedWorkingHours, ce.commute_exception_type AS
		commuteExceptionType,
		ce.remarks,
		ce.done FROM t_commute_exception ce
		INNER JOIN t_employee e ON ce.employee_id = e.id
		WHERE ce.employee_id =
		#{employeeId} AND ce.deducted_working_hours != 0 AND
		ce.logic_deleted =
		0 AND
		ce.done = 0 AND ce.remarks != ''
	</select>

	<select id="countDeductedWorkingHours"
		resultType="java.lang.Integer">
		SELECT SUM(deducted_working_hours)
		FROM
		t_commute_exception
		WHERE employee_id = #{employeeId} AND
		logic_deleted = 0 AND (today
		BETWEEN #{firstDay}
		AND #{lastDay})
	</select>

</mapper>